@import "compass";
@import "_bits";

#content {
	padding: 2em 6%;
	font-size: 1.3em;
	line-height: 1.2;
	color: #333;
}

#content a {
	color: #08F;
	font-style: italic;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.88em;
	text-decoration: underline;
}

#content a[href^="http"]:after {
	content: " \21d7";
}

#content a[href^="mailto"]:after {
	content: " \2709";
}

#content a:hover {
	color: #0BF;
	text-decoration: none;
}
