@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/css3/opacity";
@import "_bits";

$navWidth: 150px;
$navStubWidth: 30px;
$navHeight: 100px;

h1 {
	text-align: center;
	font-style: italic;
	font-size: 2em;
	line-height: 1.5;
	background: rgb(140, 140, 140);
	background: rgba(180, 180, 180, 0.3);
	margin: 0;
	color: #333;
}

#content {
	padding: 2em 6%;
	font-size: 1.3em;
	line-height: 1.2;
	color: #333;
}

#content a {
	color: #08F;
	font-style: italic;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.88em;
	text-decoration: underline;
}

#content a[href^="http"]:after {
	content: " \21d7";
}

#content a[href^="mailto"]:after {
	content: " \2709";
}

#content a:hover {
	color: #0BF;
	text-decoration: none;
}

.navWrapper:after {
	/* clearfix */
	display: block;
	content: ".";
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
}

%main-nav {
	width: $navWidth;
	position: absolute;
	top: 0;
	min-height: 100%;
	overflow: hidden;

	& a {
		position: relative;
		display: block;
		width: $navWidth;
		height: $navHeight;
		margin: 20px 0;

		line-height: $navHeight;

		text-decoration: none;
		text-align: center;

		@include box-sizing(border-box);

		&, & .descText {
			@include transition(all 0.3s linear);
		}

		&:hover {
			@include translateX(0);
			@include opacity(0.7);

			& .descText {
				@include opacity(0.8);
			}
		}
	}

	& .icon, & .icon-social {
		font-size: $navStubWidth;
		width: $navStubWidth;
		text-align: center;
		display: block;
		position: absolute;
		top: 0;
	}

	& header {
		background: #CCC;
		font-size: 1.3em;
		line-height: 1.5;
		text-align: center;
		margin: 0;
	}
}

.nav-1 {
	@extend %main-nav;

	left: 0;

	& a {
		@include translateX($navStubWidth - $navWidth);

		border-radius: 0 10px 10px 0;
	}

	& .icon, & .icon-social {
		right: 0;
	}

	& .descText {
		padding-right: $navStubWidth;
	}

	& header {
		border-radius: 0 0 10px 0;
	}

	@include breakpoint(baby-bear) {
		float: left;
	}
}

.nav-2 {
	@extend %main-nav;

	right: 0;

	& a {
		@include translateX($navWidth - $navStubWidth);

		border-radius: 10px 0 0 10px;
	}

	& .icon, & .icon-social {
		left: 0;
	}

	& .descText {
		padding-left: $navStubWidth;
	}

	& header {
		border-radius: 0 0 0 10px;
	}

	@include breakpoint(baby-bear) {
		float: right;
	}
}

%main-nav {
	@include breakpoint(baby-bear) {
		position: static;
		width: 50%;

		& header {
			border-radius: 0;
		}

		& a {
			@include translateX(0);
			margin: 2px 0;
			border-radius: 0;
			width: auto;
		}

		& .icon, & .icon-social {
			position: static;
			width: 100%;
			padding-top: $navHeight * 0.1;
			height: $navHeight * 0.5;
			line-height: $navHeight * 0.5;
			font-size: $navHeight * 0.4;
		}

		& .descText {
			height: $navHeight * 0.4;
			line-height: $navHeight * 0.4;
			display: block;
			padding: 0;
			font-size: 1.3em;
		}
	}
}

.twitter {
	background: #0BF;
	color: white;

	&:hover {
		background: #08F;
	}
}

.facebook {
	background: #00F;
	color: white;

	&:hover {
		background: #05C;
	}
}

.projects {
	background: #804;
	color: white;

	&:hover {
		background: #A70;
	}
}

.music {
	background: #084;
	color: white;

	&:hover {
		background: #0A7;
	}
}

.blog {
	background: #3AA;
	color: white;

	&:hover {
		background: #7AC;
	}
}
