@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/font-face";
@import "_bits";

@include font-face(JustVector,
	font-files(
		"JustVector/justvectorv2-webfont.woff", woff,
		"JustVector/justvectorv2-webfont.ttf", ttf,
		"JustVector/justvectorv2-webfont.svg", svg),
	"JustVector/justvectorv2-webfont.eot");

@include font-face(Typicon,
	font-files(
		"typicons/typicons-regular-webfont.woff", woff,
		"typicons/typicons-regular-webfont.ttf", ttf,
		"typicons/typicons-regular-webfont.svg", svg),
	"typicons/typicons-regular-webfont.eot");

html, body {
	height: 100%;
	@include box-sizing(border-box);
}

body {
	/* background from http://subtlepatterns.com/wild-oliva/ */
	background: url(../img/wild_oliva.png);
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	padding: 2%;

	@include breakpoint(baby-bear) {
		padding: 0;
	}
}

#main {
	margin: 2% auto;
	width: 1000px;
	max-width: 90%;
	min-height: 96%;
	background: white;
	box-shadow: 0 0 20px #333;
	border-radius: 20px;
	overflow: auto;

	@include breakpoint(baby-bear) {
		max-width: none;
		width: 100%;
		margin: 2% 0;
		border-radius: 0;
	}
}

.icon {
	display: inline-block;
	font-family: "Typicon";

	&:after {
		content: attr(data-icon);
	}
}

.icon-social {
	@extend .icon;
	font-family: "JustVector";
}