@import "compass";

@import "compass/reset";
@import "_bits";

@import url("http://fonts.googleapis.com/css?family=Ranchers");
@import url("http://weloveiconfonts.com/api/?family=typicons");


$navWidth: 150px;
$navStubWidth: 30px;
$navHeight: 100px;

@include font-face(JustVector,
	font-files(
		"JustVector/justvectorv2-webfont.woff", woff,
		"JustVector/justvectorv2-webfont.ttf", ttf,
		"JustVector/justvectorv2-webfont.svg", svg),
	"JustVector/justvectorv2-webfont.eot");

html, body {
	height: 100%;
	@include box-sizing(border-box);
	font-size: 14px;
}

$pageTitleHeight: 40px;
.pageTitle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $pageTitleHeight;
	line-height: $pageTitleHeight;
	font-size: 1.4em;
	font-weight: bold;
	background: #aaa;

	font-family: "Ranchers";

	a {
		@include text-shadow( 
    	  	0 -1px 0 #858585,
              
               
               0 1px 10px rgba(0,0,0,.6),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.2),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 7px 10px rgba(0,0,0,.25)
               );


		font-style: italic;
		color: #222;
		padding: 0 20px;
		text-decoration: none;
		letter-spacing: 3px;
		position: relative;
		&:hover {
			@include opacity(0.8);
		}

		&:after {
			content: "";
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			@include background(linear-gradient(top, rgba(170, 170, 170, 0.6), rgba(170, 170, 170, 0)));
		}
	}
}

#body {
	position: absolute;
	top: $pageTitleHeight;
	left: 0;
	right: 0;
	bottom: 0;

	overflow: auto;

	/* background from http://subtlepatterns.com/wild-oliva/ */
	background: url(../img/wild_oliva.png);
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	padding: 2%;

	@include breakpoint(baby-bear) {
		padding: 0;
	}
}

#main {
	margin: 2% auto;
	width: 1000px;
	max-width: 90%;
	min-height: 96%;
	background: white;
	box-shadow: 0 0 20px #333;
	border-radius: 20px;
	overflow: auto;

	@include breakpoint(baby-bear) {
		max-width: none;
		min-height: 0;
		width: 100%;
		margin: 2% 0;
		border-radius: 0;
	}
}

h1 {
	text-align: center;
	font-style: italic;
	font-size: 2em;
	line-height: 1.5;
	@include background(linear-gradient(top, #fff, #ccc));
	margin: 0;
	color: transparent;

	@include text-shadow(
		0 0 1px #fff,
		1px 1px #000,
		2px 2px rgba(100, 100, 100, 0.2),
		-1px -1px rgba(100, 100, 100, 0.5),
		-1px 1px rgba(100, 100, 100, 0.5),
		1px -1px rgba(100, 100, 100, 0.5),
		3px 3px 3px #ccc
	);

	letter-spacing: 2px;
}

.icon {
	display: inline-block;
	font-family: "Typicons";

	&:after {
		content: attr(data-icon);
	}
}

.icon-social {
	@extend .icon;
	font-family: "JustVector";
}


//NAVIGATION
.navWrapper:after {
	/* clearfix */
	display: block;
	content: ".";
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
}

%main-nav {
	width: $navWidth;
	position: absolute;
	top: 0;
	min-height: 100%;
	overflow: hidden;

	a {
		position: relative;
		display: block;
		width: $navWidth;
		height: $navHeight;
		margin: 20px 0;

		line-height: $navHeight;

		text-decoration: none;
		text-align: center;

		@include box-sizing(border-box);

		&, & .descText {
			@include transition(all 0.3s linear);
		}

		&:hover {
			@include translateX(0);
			@include opacity(0.7);

			& .descText {
				@include opacity(0.8);
			}

			& .icon, & .icon-social {
				text-shadow: none;
			}
		}
	}

	.icon, .icon-social {
		font-size: $navStubWidth;
		width: $navStubWidth;
		text-align: center;
		display: block;
		position: absolute;
		top: 0;
		text-shadow: 0 0 8px #000;
	}

	header {
		background: #aaa;
		font-size: 1.3em;
		line-height: 1.5;
		text-align: center;
		margin: 0;
	}
}

.nav-1 {
	@extend %main-nav;

	left: 0;

	a {
		@include translateX($navStubWidth - $navWidth);

		border-radius: 0 10px 10px 0;
	}

	.icon {
		right: 0;
	}

	.descText {
		padding-right: $navStubWidth;
	}

	header {
		border-radius: 0 0 10px 0;
	}

	@include breakpoint(baby-bear) {
		float: left;
	}
}

.nav-2 {
	@extend %main-nav;

	right: 0;

	a {
		@include translateX($navWidth - $navStubWidth);

		border-radius: 10px 0 0 10px;
	}

	.icon {
		left: 0;
	}

	.descText {
		padding-left: $navStubWidth;
	}

	header {
		border-radius: 0 0 0 10px;
	}

	@include breakpoint(baby-bear) {
		float: right;
	}
}

%main-nav {
	@include breakpoint(baby-bear) {
		position: static;
		width: 50%;

		header {
			border-radius: 0;
		}

		a {
			@include translateX(0);
			margin: 2px 0;
			border-radius: 0;
			width: auto;
		}

		.icon {
			position: static;
			width: 100%;
			padding-top: $navHeight * 0.1;
			height: $navHeight * 0.5;
			line-height: $navHeight * 0.5;
			font-size: $navHeight * 0.4;
		}

		.descText {
			height: $navHeight * 0.4;
			line-height: $navHeight * 0.4;
			display: block;
			padding: 0;
			font-size: 1.3em;
		}
	}
}

.twitter {
	background: #0BF;
	color: white;

	&:hover {
		background: #08F;
	}
}

.facebook {
	background: #00F;
	color: white;

	&:hover {
		background: #05C;
	}
}

.linkedin {
	background: #0E295A;
	color: white;

	&:hover {
		background: #6EB2D8;
	}
}

.about {
	background: #505;
	color: white;

	&:hover {
		background: #A42;
	}
}

.projects {
	background: #804;
	color: white;

	&:hover {
		background: #A70;
	}
}

.music {
	background: #084;
	color: white;

	&:hover {
		background: #0A7;
	}
}

.blog {
	background: #3AA;
	color: white;

	&:hover {
		background: #7AC;
	}
}