@import "compass";

article {
	margin: 0;
	padding: 0;
	display: block;

	.date {
		font-size: 1em;
		color: #888;
		font-style: italic;
		float: right;
		line-height: 1.4em;
		margin-top: 20px;
		margin-right: 20px;

		&:before {
			content: "Posted on ";
		}

		&:empty {
			display: none;
		}
	}
}

.content {
	padding: 20px;

	font-size: 1.2em;

	h1, h2, h3, h4 {
		background: none;
		color: inherit;
		@include text-shadow(none);
		text-align: left;
		margin: 0;
		display: block;
		height: auto;
		line-height: 1em;
		font-family: inherit;
		font-weight: normal;
		font-style: normal;
	}

	h1 {
		font-size: 1.7em;
		font-weight: bold;
		margin: 0.4em 0;
		@include text-shadow(
			1px 1px 4px #888
		);
	}

	h2 {
		font-size: 1.5em;
		margin: 0.4em 0.33em;
	}

	h3 {
		font-size: 1.3em;
		margin: 0.2em 0.67em;
	}

	h4 {
		font-size: 1.2em;
		margin: 0.2em 1em;
	}

	p {
		text-indent: 1.5em;
		line-height: 1.3em;
	}

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}
}
