/* line 4, ../sass/index.scss */
#content {
  padding: 2em 6%;
  font-size: 1.3em;
  line-height: 1.2;
  color: #333;
}

/* line 11, ../sass/index.scss */
#content a {
  color: #08F;
  font-style: italic;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.88em;
  text-decoration: underline;
}

/* line 19, ../sass/index.scss */
#content a[href^="http"]:after {
  content: " \21d7";
}

/* line 23, ../sass/index.scss */
#content a[href^="mailto"]:after {
  content: " \2709";
}

/* line 27, ../sass/index.scss */
#content a:hover {
  color: #0BF;
  text-decoration: none;
}
