/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "JustVector";
  src: url('/css/fonts/JustVector/justvectorv2-webfont.eot');
  src: url('/css/fonts/JustVector/justvectorv2-webfont.eot?#iefix') format('eot'), url('/css/fonts/JustVector/justvectorv2-webfont.woff') format('woff'), url('/css/fonts/JustVector/justvectorv2-webfont.ttf') format('truetype'), url('/css/fonts/JustVector/justvectorv2-webfont.svg') format('svg');
}

@font-face {
  font-family: "Typicon";
  src: url('/css/fonts/typicons/typicons-regular-webfont.eot');
  src: url('/css/fonts/typicons/typicons-regular-webfont.eot?#iefix') format('eot'), url('/css/fonts/typicons/typicons-regular-webfont.woff') format('woff'), url('/css/fonts/typicons/typicons-regular-webfont.ttf') format('truetype'), url('/css/fonts/typicons/typicons-regular-webfont.svg') format('svg');
}

/* line 20, ../sass/main.scss */
html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/main.scss */
body {
  /* background from http://subtlepatterns.com/wild-oliva/ */
  background: url(../img/wild_oliva.png);
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 2%;
}
@media (max-width: 600px) {
  /* line 25, ../sass/main.scss */
  body {
    padding: 0;
  }
}

/* line 38, ../sass/main.scss */
#main {
  margin: 2% auto;
  width: 1000px;
  max-width: 90%;
  min-height: 96%;
  background: white;
  box-shadow: 0 0 20px #333333;
  border-radius: 20px;
  overflow: auto;
}
@media (max-width: 600px) {
  /* line 38, ../sass/main.scss */
  #main {
    max-width: none;
    width: 100%;
    margin: 2% 0;
    border-radius: 0;
  }
}

/* line 56, ../sass/main.scss */
.icon, .icon-social {
  display: inline-block;
  font-family: "Typicon";
}
/* line 60, ../sass/main.scss */
.icon:after, .icon-social:after {
  content: attr(data-icon);
}

/* line 65, ../sass/main.scss */
.icon-social {
  font-family: "JustVector";
}
