.index {
  $link-hover-color: #fff;
  $link-hover-background: #666;
  $me-border-radius: 30%;

  .content {
    box-sizing: border-box;
    width: 100%;
    max-width: $max-content-size;
    margin: auto;
    padding: 10px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 50vh);
      left: 0;
      right: 0;
      height: 100vh;
      background: $content-background;
      box-shadow: 0 0 20px 10px $content-background;
    }
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    right: calc((100vw - #{$max-content-size}) / 2);
    font-size: 2.5em;
    line-height: 2;
    margin: 0;
    padding: 0 10px;
    text-align: right;
    color: $header-text-color;
    font-weight: normal;
    z-index: 2;
    text-shadow: 0 0 1px #FFF, 0 0 8px rgba(255, 255, 255, .7);
    opacity: .8;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .me-wrapper {
    float: left;
    margin-right: 10px;
    shape-outside: polygon(0 0, 60% 0, 100% 50%, 100% 100%, 0 100%);
    position: relative;
    animation: ease 500ms fly-in;
    width: 50%;
    width: calc(50% - 5px);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: $me-border-radius;
      box-shadow: inset 0 0 30px 30px $content-background;
      z-index: 1;
    }
  }

  .me {
    width: 100%;
    z-index: 0;
    opacity: .7;
    border-radius: $me-border-radius;
  }

  ul {
    position: relative;
    margin: 0;
    list-style: none;
    color: $text-color;
    font-size: 2em;
    font-variant: small-caps;
    animation: cubic-bezier(0,1.1,.35,1.1) 500ms fly-in;
    text-shadow: 0 0 4px rgba(255, 255, 255, .7);
    padding: 10px 0;
    z-index: 2;
  }

  li {

    a {
      position: relative;
      cursor: pointer;
      display: inline-block;
      transition: transform .3s, color .3s, text-shadow .3s;
      color: inherit;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        top: -.25em;
        left: -.25em;
        right: -.25em;
        bottom: -.25em;
        background: $link-hover-background;
        opacity: 0;
        border-radius: 6px;
        transition: all 0.3s;
        z-index: -1;
        transform: scale(.8);
      }

      &:hover {
        transform: skew(-10deg);
        color: $link-hover-color;
        text-shadow: 0 0 4px rgba(0, 0, 120, .7);
      }

      &:hover::before {
        opacity: .6;
        transform: skew(10deg) scale(1);
      }
    }

    + li {
      margin-top: 1em;
    }
  }

  @media (max-width: $max-content-size) {
    font-size: 1.5625vw;

    h1 {
      right: 0;
    }
  }

  @media (max-height: 530px) {
    .content {
      max-width: 193vh;
      max-width: calc(1.93 * (100vh - 20px));
    }

    h1 {
      right: calc((100vw - 193vh) / 2 + 10px);
    }

    .me-wrapper {
      width: auto;
    }

    .me {
      width: auto;
      max-width: 50vw;
      max-height: 100vh;
      max-height: calc(100vh - 20px);
    }
  }

  @media (max-height: 500px) {
    font-size: 3.2vh;
  }

  @media (max-height: 312px) {
    font-size: 10px;

    .content {
      max-width: 564px;
    }

    h1 {
      right: calc((100vw - 564px) / 2);
    }
  }

  @media (max-height: 500px) and (max-aspect-ratio: 2/1) {
    h1 {
      right: 10px;
    }
  }

  @media (max-width: 600px) {
    font-size: 4vmin;

    h1 {
      right: 10px;
    }

    .content {
      height: 100vh;
      max-width: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .me-wrapper {
      width: 100%;
      max-width: 90vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: fade-in 1200ms;
    }

    .me {
      width: 100%;
      max-width: none;
    }

    ul {
      text-align: center;
      animation: fade-in 500ms;
      text-shadow: 0 0 8px rgba(255, 255, 255, .8), 0 0 1px #fff;
    }
  }

  @media (max-width: 600px) and (max-height: 250px) {
    font-size: 10px;
  }
}
