.default-page {
  $header-height: 3rem;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    position: fixed;
    top: $header-height;
    left: 50%;
    bottom: 0;
    width: 100%;
    max-width: $max-content-width;
    transform: translateX(-50%);
    background: $content-background;
    box-shadow: 0 0 20px 10px $content-background;
    z-index: -1;
  }

  .header {
    position: relative;
    height: $header-height;
    line-height: $header-height;
    width: 100%;
    max-width: $max-content-width;
    margin: 0;
    padding: 0 20px;
    text-align: right;

    font-size: 1.2em;
    font-weight: normal;
    color: $header-text-color;
  }

  .content {
    width: 100%;
    max-width: $max-content-width;

    * {
      margin: 0;

      + * {
        // The lobotomized owl got split in half by nesting :(
        margin-top: 1.5em;
      }
    }

    a {
      color: lighten($text-color, 20%);

      &:hover {
        text-decoration: none;
      }
    }

    p {
      max-width: $max-content-width * .8;
      margin-left: auto;
      margin-right: auto;

      img {
        max-width: 40%;
        max-height: 10em;

        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
      }

      &:nth-of-type(2n) img {
        float: left;
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }
}
